@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Dancing Script', cursive;
    line-height: 2;
    margin: 0;
    padding: 0;
    background-color: rgba(26, 26, 16, 1);
}

.background {
    position: fixed;
    background: url("img/flower2.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70vw;
    height: 80vh;
    display: flex;
    box-shadow: 7px 6px 85px -14px rgba(22, 21, 21, 0.75);
    background: rgba(26, 26, 16, 0.5);
    border-radius: 20px;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}



.section-left {
    height: 100%;
    box-shadow: 7px 6px 85px -14px rgba(0, 0, 0, 0.5);
    z-index: 2;
    background: rgba(26, 26, 16, 1);
    border-radius: 20px;

}

.section-left img {
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    border-radius: 20px;
}

.section-left i {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    text-align: center;
}



.name {
    padding: 10px 50px;
    color: white;
    font-weight: 800;
    font-size: 28px;
    line-height: 1.1;
    transition: 0.3s;
    text-align: center;
}



.section-right {
    display: flex;
    background: rgba(255, 255, 255, 1);
    width: 100%;
    border-radius: 20px;
}







.section-right .content {
    padding: 60px 40px;
    text-align: center;
    margin: 40px auto auto auto;
}

.section-right .content h2 {
    width: 200px;
    color: rgb(235, 11, 11);

}








@media (max-width:1500px) {
    .container {
        width: 100vw;
    }

}

@media (max-width:1023px) {


    .container {
        width: 600px;
        height: 100vh;

    }

    .section-left {
        background: rgba(26, 26, 16, 1);
    }

    .section-left i {
        display: block;

    }

    .section-right {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100vh;
        top: 100vh;
    }



}

@media (max-width:500px) {
    .container {

        width: 100vw;
    }



    .section-right {
        position: absolute;
        z-index: 2;
        width: 100%;
        top: 100vh;
        font-size: 14px;
    }



}
